body {
  width: 960px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  float: left;
  width: 748px;
  margin-top: 50px;
  color: #989898;
}

.box-design {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1e2427 0px, #0d0f11 25px, #0a0c0e 100px) repeat scroll 0 0;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #33383b;
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
}

.btn_medium {
  height: 30px;
  line-height: 30px;
}

.btn_black {
  -moz-user-select: none;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #222d31, #0e0e0e) repeat scroll 0 0;
  border: 1px solid #454645;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande", "Lucidas", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #000000;
}

.btn_black:hover {
  background-color: #1b2427;
  background-image: linear-gradient(to bottom, #2d373b, #101010);
  border: 1px solid #4a4b4a;
}

.btn_orange {
  -moz-user-select: none;
  background: #faec2e linear-gradient(to bottom, #ffec64 5%, #ffab23 100%) repeat scroll 0 0;
  border: 1px solid #ffaa22;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande", "Lucidas", Tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffee66;
}

.btn_orange:hover {
  background: #ffab23 linear-gradient(to bottom, #ffab23 5%, #ffec64 100%) repeat scroll 0 0;
}

.select-design > div,
.back-select-option > div {
  width: 50%;
  float: left;
  color: #fff;
}

.select-design > div span,
.back-select-option > div span {
  margin-left: 20px;
  color: #989898;
  padding-top: 5px;
  display: block;
}

.text-handeling,
.add-logo,
.text-decimal,
.shirt-position,
.text-edit {
  height: 120px;
}

.text-preview,
.shirt-preview {
  height: 300px;
}

.text-edit,
.add-logo,
.text-decimal,
.text-preview,
.select-back-style {
  width: 440px;
  float: left;
}

.text-edit h3,
.box-design h3 {
  margin: 0;
}

.text-edit > div {
  margin-top: 10px;
}

.text-edit .shirt-text textarea {
  resize: none;
  height: 50px;
}

.shirt-text .color-icons {
  width: 50%;
}

.color-icons ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.color-icons li {
  border: 2px solid #000;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 2px;
  text-indent: -99999px;
  width: 20px;
  cursor: pointer;
}

.shirt-position,
.shirt-preview,
.back-shirt-position {
  display: inline-block;
  margin-left: 10px;
  width: 257px;
}

#text-preview-area {
  background-color: #1f4434;
  height: 90%;
  height: calc(100% - 20px);
  width: 100%;
}

.shirt-preview {
  /*background-image: url("../images/preview_image.gif");*/
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.shirt-preview > img {
  position: absolute;
  top: 28px;
  left: 32px;
}

#shirt-preview-area {
  width: 100%;
  height: calc(100% - 20px);
  position: relative;
}


/*Adjust img position*/

#shirt-preview-area img {
  height: auto;
  position: relative;
  transition: all 0.2s;
}

#shirt-preview-area.pleft img,
#shirt-preview-area.pright img {
  top: 75px;
  width: 52px;
}

#shirt-preview-area.pleft img {
  left: 75px;
}

#shirt-preview-area.pcenter img {
  width: 85px;
  top: 90px;
  left: 90px;
}

#shirt-preview-area.pright img {
  left: 140px;
}

#shirt-preview-area span {
  position: absolute;
  left: 125px;
  top: 100px;
  font-size: 20px;
  transition: all 0.2s;
}

#shirt-preview-area.big-number-font span {
  font-size: 44px;
  left: 110px;
  display: block;
}

#shirt-preview-area.pleft span,
#shirt-preview-area.pright span {
  top: 80px;
}

#shirt-preview-area.pleft span {
  left: 157px;
}

#shirt-preview-area.pcenter span {
  top: 140px;
  left: 142px;
}

#shirt-preview-area.pright span {
  left: 92px;
}

#shirt-preview-area.pleft.big-number-font span,
#shirt-preview-area.pright.big-number-font span {
  top: 65px;
}

#shirt-preview-area.pleft.big-number-font span {
  left: 143px;
}

#shirt-preview-area.pcenter.big-number-font span {
  top: 135px;
  left: 111px;
}

#shirt-preview-area.pright.big-number-font span {
  left: 80px;
}

.text-decimal {
  position: relative;
  overflow: visible;
}

.text-decimal .load-images {
  position: absolute;
  top: -4px;
  right: -230px;
  width: 225px;
  height: 200px;
  z-index: 1000;
  border: 1px solid #aaa;
  overflow: auto;
}

.text-decimal .load-images.box-design > img {
  float: left;
  height: 58px;
  margin: 6px 2px 4px;
  width: auto;
  cursor: pointer;
}

.text-decimal .load-images.box-design > div {
  position: relative;
  width: 56px;
  height: 25px;
  background: red;
  top: -12px;
  left: -8px;
}

.text-decimal .load-images.box-design > div i.back {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  background-image: url('../images/back.png');
  background-size: 15px 25px;
  background-repeat: no-repeat;
  background-position: 6px 0;
  cursor: pointer;
}

.text-decimal .load-images.box-design > div i.front {
  width: 25px;
  height: 25px;
  display: block;
  float: right;
  background-image: url('../images/forward.png');
  background-size: 15px 25px;
  background-repeat: no-repeat;
  background-position: 6px 0;
  cursor: pointer;
}

.text-decimal .load-images.box-design > span {
  position: absolute;
  width: 98px;
  height: 98px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/loader01.gif');
  background-size: 98px;
  background-position: center center;
  display: none;
}


/*END Adjust canvas position*/

.add-logo h4 {
  margin: 0;
}

.text-decimal > div > div {
  margin-top: 5px;
}

.text-decimal > .image-box {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.shirt-position > div,
.back-shirt-position > div {
  display: inline-block;
  margin-right: 5px;
}

.shirt-position > div:not(.display-number),
.back-shirt-position > div {
  cursor: pointer;
}

.shirt-position .display-number {
  display: none;
}

.shirt-position > div p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.shirt-position > div.display-number {
  display: none;
}

.low-opacity {
  opacity: 0.6;
}

.shirt-position img {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  height: 70px;
  max-width: 100%;
}

.shirt-position.add-number img {
  height: 56px;
  margin-right: 0;
  margin-left: 0;
}

.shirt-position.add-number > div,
.back-shirt-position > div {
  display: inline-block;
}

.shirt-position.add-number > div.tshirt-image-right {
  border-right: 1px solid #ece7e7;
  padding-right: 15px;
}

.shirt-position .tshirt-image-left,
.shirt-position .tshirt-image-center,
.shirt-position .tshirt-image-right,
.back-shirt-position .layout_curved,
.back-shirt-position .layout_straight_bottom,
.back-shirt-position .layout_straight_top {
  opacity: 0.5;
}

.shirt-position > div.position-selected,
.back-shirt-position > div.position-selected {
  opacity: 1;
}

.shirt-position.box-design.add-number > div.display-number > div {
  cursor: pointer;
  margin-bottom: 5px;
}

.shirt-position.box-design.add-number > div.display-number > div > p {
  font-size: 22px;
}

.shirt-position.box-design.add-number > div.display-number > div > p > span {
  font-size: 12px;
  margin-right: 5px;
}

.shirt-position.box-design.add-number > div.display-number > div.big-number > p {
  color: #fff;
}

.shirt-position.box-design.add-number > div.display-number > div.big-number > p > span {
  color: #737373;
}

.shirt-position.box-design.add-number > div.display-number > div.small-number > p {
  color: #737373;
}

.shirt-position.box-design.add-number > div.display-number > div.small-number > p > span {
  color: #fff;
}

#text_content img {
  width: 440px;
  height: 280px;
}

#text_content > span.text-set-position {
  width: 100% !important;
  margin-left: 0 !important;
  left: 0 !important;
}

#text_content {
  position: relative;
  height: 100%;
}

#text_content p {
  position: absolute;
  margin: 0;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}


/*Back page design start*/

.no-of-tshirt {
  color: #fff;
}

.no-of-tshirt span {
  margin-right: 16px;
}

#tblSizes .text_inputboxes {
  width: 220px;
}

#tblSizes .numper_inputboxes {
  width: 25px;
}

.back-text-edit {
  color: #fff;
}

.select-back-style {
  height: 100px;
}

.select-back-style h4 {
  margin: 0;
}

.back-preview .text-preview {
  height: 450px;
}

.back-preview .text-preview #text_content h2,
.back-preview .text-preview #text_content h3 {
  margin: 0;
}

.back-preview .text-preview #text_content h3 {
  position: absolute;
  top: 30px;
  font-size: 38px;
  text-align: center;
  width: 100%;
}

.back-preview .text-preview #text_content h2 {
  position: absolute;
  top: 78px;
  text-align: center;
  font-size: 274px;
  line-height: 255px;
  width: 100%;
}

.back-preview .text-preview #text_content.name-bottom h3 {
  top: 260px;
}

.back-preview .text-preview #text_content.name-bottom h2 {
  top: 10px;
}

.back-preview .text-preview #text_content > span {
  position: absolute;
  top: 344px;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.back-preview #shirt-preview-area.pcenter img {
  width: 127px;
  top: 52px;
  left: 66px;
}

.back-input-text .option-buttons {
  margin-top: 10px;
  padding-left: 30px;
}
