body {
  width: 960px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.container {
  float: left;
  width: 748px;
  margin-top: 50px;
  color: #989898;
}

.box-design {
  background: #1e2427 none repeat scroll 0 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
}

.select-design > div {
  width: 50%;
  float: left;
  color: #fff;
}

.select-design > div span {
  margin-left: 20px;
  color: #989898;
  padding-top: 5px;
  display: block;
}

.text-handeling,
.add-logo,
.text-decimal,
.shirt-position,
.text-edit {
  height: 120px;
}

.text-preview,
.shirt-preview {
  height: 300px;
}

.text-edit,
.add-logo,
.text-decimal,
.text-preview {
  width: 440px;
  float: left;
}

.text-edit h3,
.box-design h3 {
  margin: 0;
}

.text-edit > div {
  margin-top: 10px;
}

.text-edit .shirt-text textarea {
  resize: none;
  height: 50px;
}

.shirt-text .color-icons {
  width: 50%;
}

.color-icons ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.color-icons li {
  border: 2px solid #000;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 2px;
  text-indent: -99999px;
  width: 20px;
  cursor: pointer;
}

.shirt-position,
.shirt-preview {
  display: inline-block;
  margin-left: 10px;
  width: 257px;
}

#text-preview-area {
  background-color: #1f4434;
  height: 90%;
  height: calc(100% - 20px);
  width: 100%;
}

.shirt-preview {
  /*background-image: url("../images/preview_image.gif");*/
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.shirt-preview > img {
  position: absolute;
  top: 28px;
  left: 32px;
}

#shirt-preview-area {
  width: 100%;
  height: calc(100% - 20px);
  position: relative;
}


/*Adjust img position*/

#shirt-preview-area img {
  height: auto;
  position: relative;
  transition: all 0.2s;
}

#shirt-preview-area.pleft img,
#shirt-preview-area.pright img {
  top: 75px;
  width: 52px;
}

#shirt-preview-area.pleft img {
  left: 75px;
}

#shirt-preview-area.pcenter img {
  width: 85px;
  top: 90px;
  left: 90px;
}

#shirt-preview-area.pright img {
  left: 140px;
}

#shirt-preview-area span {
  position: absolute;
  left: 125px;
  top: 115px;
  font-size: 20px;
  transition: all 0.2s;
}

#shirt-preview-area.big-number-font span {
  font-size: 44px;
  left: 110px;
  display: block;
}

#shirt-preview-area.pleft span,
#shirt-preview-area.pright span {
  top: 80px;
}

#shirt-preview-area.pleft span {
  left: 157px;
}

#shirt-preview-area.pcenter span {
  top: 140px;
  left: 142px;
}

#shirt-preview-area.pright span {
  left: 92px;
}

#shirt-preview-area.pleft.big-number-font span,
#shirt-preview-area.pright.big-number-font span {
  top: 65px;
}

#shirt-preview-area.pleft.big-number-font span {
  left: 143px;
}

#shirt-preview-area.pcenter.big-number-font span {
  top: 135px;
  left: 111px;
}

#shirt-preview-area.pright.big-number-font span {
  left: 80px;
}


/*END Adjust canvas position*/

.add-logo h4 {
  margin: 0;
}

.text-decimal > div > div {
  margin-top: 5px;
}

.text-decimal > .image-box {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
}

.shirt-position > div {
  display: inline-block;
  margin-right: 5px;
}

.shirt-position > div:not(.display-number) {
  cursor: pointer;
}

.shirt-position .display-number {
  display: none;
}

.shirt-position > div p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.shirt-position > div.display-number {
  display: none;
}

.low-opacity {
  opacity: 0.6;
}

.shirt-position img {
  margin-right: 2px;
  margin-top: 10px;
  margin-left: 2px;
  height: 76px;
  max-width: 100%;
}

.shirt-position.add-number img {
  height: 56px;
}

.shirt-position.add-number > div {
  display: inline-block;
}

.shirt-position.add-number > div.tshirt-image-right {
  border-right: 1px solid #ece7e7;
  padding-right: 15px;
}

.shirt-position .tshirt-image-left,
.shirt-position .tshirt-image-center,
.shirt-position .tshirt-image-right {
  opacity: 0.5;
}

.shirt-position > div.position-selected {
  opacity: 1;
}

.shirt-position.box-design.add-number > div.display-number > div {
  cursor: pointer;
  margin-bottom: 5px;
}

.shirt-position.box-design.add-number > div.display-number > div > p {
  font-size: 22px;
}

.shirt-position.box-design.add-number > div.display-number > div > p > span {
  font-size: 12px;
  margin-right: 5px;
}

.shirt-position.box-design.add-number > div.display-number > div.big-number > p {
  color: #fff;
}

.shirt-position.box-design.add-number > div.display-number > div.big-number > p > span {
  color: #737373;
}

.shirt-position.box-design.add-number > div.display-number > div.small-number > p {
  color: #737373;
}

.shirt-position.box-design.add-number > div.display-number > div.small-number > p > span {
  color: #fff;
}

#text_content img {
  width: 440px;
  height: 280px;
}

#text_content {
  position: relative;
}

#text_content p {
  position: absolute;
  margin: 0;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

